@charset "UTF-8";
* {
  font-family: "Oswald", 微軟正黑體;
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
}

header {
  position: relative;
  background-color: #1D3255;
  text-align: center;
}
header .icon {
  width: 80%;
  max-width: 450px;
  padding: 120px 0px;
}
header .circle {
  width: 300px;
  height: 300px;
  border: none;
  border-radius: 50%;
  position: absolute;
  background-color: #E6AF2E;
}
header .circle1 {
  left: -150px;
  top: 45px;
}
header .circle2 {
  width: 280px;
  height: 270px;
  background-color: #1D3255;
  left: -150px;
  top: 60px;
}
header .circle3 {
  width: 250px;
  height: 200px;
  background-color: #BDC1C6;
  right: -140px;
  bottom: 200px;
}
header .marginbottom {
  position: absolute;
  width: 95%;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  -webkit-animation: upin 2s both;
          animation: upin 2s both;
}
@-webkit-keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes upin {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
header .explore {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  color: #E6AF2E;
  top: 85%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .explore:after {
  display: block;
  content: "v";
  -webkit-transform: scaleX(1.2) scaleY(0.5);
          transform: scaleX(1.2) scaleY(0.5);
}
header .explore.at_top {
  opacity: 1;
}

nav.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav.navbar a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section {
  padding: 60px;
  position: relative;
}

section#section_about {
  background-color: #E6AF2E;
}
section#section_about .container {
  -webkit-transform: rotate(15deg) scale(0.9);
          transform: rotate(15deg) scale(0.9);
}
    section#section_about .row {
        height: 150px;
        color: #1D3255;
    }
section#section_about .row .r1text {
  font-size: 80px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
section#section_about .row .r2text {
  font-size: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
section#section_about .row .r3text {
  font-size: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
}
section#section_about .cat {
  width: 30%;
  max-width: 300px;
  position: absolute;
  bottom: -2px;
  right: 25px;
}
section#section_about .marginbottom {
  position: absolute;
  width: 60%;
  top: calc(100% - 2px);
  z-index: 3;
}
section#section_about .btn-area {
  height: 150px;
}
section#section_about a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(10deg);
          transform: translate(-50%, -50%) rotate(10deg);
}
section#section_about #cross {
  position: absolute;
  z-index: 5;
  pointer-events: none;
}
section#section_about #cross:before, section#section_about #cross:after {
  content: "";
  display: block;
  width: 80px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
section#section_about #cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(136deg);
          transform: translate(-50%, -50%) rotate(136deg);
}
section#section_about .tri {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
section#section_about .tri1 {
  width: 350px;
}
section#section_about .tri2 {
  width: 20px;
  margin-left: 20px;
}
section#section_about .tri3 {
  width: 150px;
  margin-left: 70%;
}
section#section_about .tri4 {
  width: 70px;
  margin-left: 100%;
}
section#section_about .tri5 {
  width: 80px;
  margin-left: 100%;
}

section#section_new {
  background-color: #ffffff;
  padding: 10px 0px;
}
section#section_new .addbtn {
  position: absolute;
  right: 0px;
}
section#section_new .newbox {
  background-color: #ffffff;
  max-width: 100%;
  height: 400px;
}
section#section_new .newbox .newstyle {
  display: inline;
  list-style: none;
  font-size: 18px;
}
section#section_new .newbox .newstyle .style {
  padding-left: 20px;
  margin-top: 20px;
}
section#section_new .newbox .newstyle .textnew {
  text-decoration: none;
  color: #1D3255;
}
section#section_new .newbox .newstyle .textnew:hover {
  color: #3BB0A2;
}
section#section_new .newbox .newstyle .textnew:visited {
  color: #BDC1C6;
}
section#section_new .newbox .textmore {
  position: absolute;
  color: #1D3255;
  right: 90px;
  bottom: 30px;
  font-size: 20px;
}
section#section_new h1 {
  background-color: #1D3255;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 20px;
  display: inline-block;
  font-weight: normal;
}
section#section_new .marginbottom {
  position: absolute;
  width: 90%;
  right: 0px;
  top: calc(100% - 2px);
  z-index: 3;
  max-width: 900px;
}

section#section_country {
  background-color: #ffffff;
  padding: 80px 0px;
}
section#section_country .col-sm-4 {
  text-align: center;
}
section#section_country h1 {
  background-color: #1D3255;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 20px;
  display: inline-block;
  font-weight: normal;
}
section#section_country h3 {
  color: #E6AF2E;
}
section#section_country .icon_country {
  width: 60%;
}
section#section_country .scale:hover {
  -webkit-transition-duration: 1.25s;
          transition-duration: 1.25s;
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

section#section_feedback {
  background-color: #1D3255;
  color: white;
  overflow: hidden;
}
section#section_feedback .mails {
  max-width: 500px;
}
section#section_feedback form {
  background-color: #ffffff;
  color: #1D3255;
  padding: 20px;
  padding-left: 40px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
section#section_feedback form label {
  margin-top: 10px;
}
section#section_feedback form input, section#section_feedback form textarea, section#section_feedback form select {
  display: block;
  background-color: transparent;
  border: none;
  border: solid 3px #1D3255;
  padding: 1px 2px;
}
section#section_feedback form textarea {
  height: 140px;
  width: 100%;
}
section#section_feedback form .btn {
  margin-top: 10px;
  padding: 0px 10px;
}
section#section_feedback .mailcover {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
  -webkit-transform: rotate(5deg) scale(2) translate(-50%, -50%);
          transform: rotate(5deg) scale(2) translate(-50%, -50%);
}
section#section_feedback .mailcover img {
  width: 120%;
}
section#section_feedback .cat {
  width: 250px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
section#section_feedback #cat_grey {
  right: 240px;
  z-index: 3;
}
section#section_feedback #cat_yellow {
  right: 0px;
}
section#section_feedback #cat_pink {
  right: 120px;
}

footer#footer {
  background-color: #3BB0A2;
  text-align: center;
}
footer#footer .text {
  padding: 25px 0px;
}