<head>
    <link rel="stylesheet" href="~/css/unisamestyle.css">
   
</head>
<header id="tai">
    <div class="container sty1">
        <div class="title">
            <h2>Taiwan</h2>
        </div>
        <div class="years">

            <!--select裡的屬性須留著-->

            <select class="sty taiyears" country="台灣" returnTo="chartdiv1" onchange="getData(this)">
                <option value="2019">2019年</option>
                <option value="2018">2018年</option>
                <option value="2017">2017年</option>
                <option value="2016">2016年</option>
                <option value="2015">2015年</option>
            </select>
            <select class="taiyears" country="台灣" returnTo="chartdiv2" onchange="getData(this)">
                <option value="2019">2019年</option>
                <option value="2018">2018年</option>
                <option value="2017">2017年</option>
                <option value="2016">2016年</option>
                <option value="2015">2015年</option>
            </select>
        </div>
        <div class="box">
            <div class="chartdiv" id="chartdiv1"></div>
            <div class="chartdiv" id="chartdiv2"></div>
        </div>
    </div>
</header>
<header id="sin">
    <div class="container sty1">
        <div class="title">
            <h2>Singapore</h2>
        </div>
        <div class="years">
            <select class="sty sinyears" country="新加坡" returnTo="chartdiv3" onchange="getData(this)">
                <option value="2019">2019年</option>
                <option value="2018">2018年</option>
                <option value="2017">2017年</option>
                <option value="2016">2016年</option>
                <option value="2015">2015年</option>
            </select>
            <select class="sinyears" country="新加坡" returnTo="chartdiv4" onchange="getData(this)">
                <option value="2019">2019年</option>
                <option value="2018">2018年</option>
                <option value="2017">2017年</option>
                <option value="2016">2016年</option>
                <option value="2015">2015年</option>
            </select>
        </div>
        <div class="box">
            <div class="chartdiv" id="chartdiv3"></div>
            <div class="chartdiv" id="chartdiv4"></div>
        </div>
    </div>
</header>


<script>
    function getData(selectedObj) {
        $.ajax({
            type: "GET",
            url: "/Content/UnivGraduation/GraduationFromDiffYear",
            data: { year: selectedObj.value, country: selectedObj.getAttribute("country") },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            beforeSend: function () {
                // null
            },
            success: function (data) {
                console.log(data);

                //chartDIV為要顯示圓餅圖的地方
                chartDiv = document.getElementById(selectedObj.getAttribute("returnTo"));

                // 先直接顯示json測試， 之後刪掉
                chartDiv.innerHTML = "<span style='color:black'>" + JSON.stringify(data) + "</span>";
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>