@using iWebSite_ComeIndus.Areas.Content.Models;
<!-- Styles -->




    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }

        
    </style>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/fonts/notosans-sc.js"></script>
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- HTML -->
    <div style="margin-top:100px">
        <select onchange="getData(this)">
            <option>台灣</option>
            <option>中國</option>
        </select>
    </div>
    <div>
        <div class='one' id="chartdiv"></div>
        <div class='two' id="chartdiv"></div>
        <div class='three' id="chartdiv"></div>
    </div>

    <!-- Chart code -->
    <script>
       
        function getData(selectedObj)
        {
            $.ajax({
                type: "GET",
                url: "/Content/UnivGraduation/ShowUnivGraduation",
                data: { country: selectedObj.value },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                beforeSend: function () {
                    // null
                },
                success: function (data) {
                    console.log(data);
                    drawChart(data);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        

        
        function drawChart(data) {
            am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                // Create chart instance
                var chart = am4core.create("chartdiv", am4charts.PieChart);

                // Add data
                chart.data = data;

                // Add and configure Series
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "graduationNumber";
                pieSeries.dataFields.category = "department";
                pieSeries.slices.template.propertyFields.fill = "color";
                chart.radius = am4core.percent(50);
                pieSeries.slices.template.stroke = am4core.color("#fff");
                pieSeries.slices.template.strokeWidth = 2;
                pieSeries.slices.template.strokeOpacity = 1;

                // This creates initial animation
                pieSeries.hiddenState.properties.opacity = 1;
                pieSeries.hiddenState.properties.endAngle = -90;
                pieSeries.hiddenState.properties.startAngle = -90;

            }); // end am4core.ready()

        }

    </script>


    



