@model SetResult
@using iWebSite_ComeIndus.Areas.FeedBack.Models
@{
    ViewData["Title"] = "ComeIndus";

    // ViewData["admin"] = "hidden";  // 一開始先預設這個值是false
}
<head>
    <script>
        //偵測進入貓咪範圍就站起來
        function detect_cat(cat_id, x) {
            var catplace = $(cat_id).offset().left + $(cat_id).width() / 2;
            if (Math.abs(x - catplace) < 80)
                $(cat_id).css("bottom", "0px");
            else
                $(cat_id).css("bottom", "-50px");
        }

        //滑鼠移動時觸發的事件
        $(window).mousemove(function (evt) {
            var pagex = evt.pageX;
            var pagey = evt.pageY;

            //計算相對區域的位置
            var x = pagex - $("section#section_about").offset().left;
            var y = pagey - $("section#section_about").offset().top;

            //計算現在的y位置超過區域則隱藏
            if (y < 0 || y > $("section#section_about").outerHeight())
                $("#cross").css("opacity", 0);
            else
                $("#cross").css("opacity", 1);

            // console.log(x);
            //更動指標位置
            $("#cross").css("left", x + "px");
            $("#cross").css("top", y + "px");

            //計算貓的中心位置
            var catplace = $("#cat").offset().left + $("#cat").width() / 2;
            var cattop = $("#cat").offset().top;

            var img_url = "http://awiclass.monoame.com/catpic/";

            //左方 / 右方 / 上方
            if (pagex < catplace - 50)
                $("#cat").attr("src", img_url + "cat_left.png");

            else if (pagex > catplace + 50)
                $("#cat").attr("src", img_url + "cat_right.png");

            else
                $("#cat").attr("src", img_url + "cat_top.png");

            //左上 / 右上
            if (pagex < catplace - 50 && pagey < cattop)
                $("#cat").attr("src", img_url + "cat_lefttop.png");

            if (pagex > catplace + 50 && pagey < cattop)
                $("#cat").attr("src", img_url + "cat_righttop.png");

            //站起來的貓咪
            // console.log(x);
            detect_cat("#cat_pink", pagex);
            detect_cat("#cat_grey", pagex);
            detect_cat("#cat_yellow", pagex);

            //更新一些移動景物的位置
            $(".mountain").css("transform", "translateX(" + (x / -20 + 50) + "px)")

            //更新簡介中文字的飄浮位置
            $(".r1text").css("transform", "translateX(" + y / -5 + "px)");
            $(".r2text").css("transform", "translateX(" + y / -10 + "px)");
            $(".r3text").css("transform", "translateX(" + y / -12 + "px)");

            //更新三角形
            $(".tri1").css("transform",
                "translateX(" + x / -5 + "px) rotate(-15deg)");
            $(".tri2").css("transform",
                "translateX(" + x / -10 + "px) rotate(-15deg)");
            $(".tri3").css("transform",
                "translateX(" + x / -12 + "px) rotate(-15deg)");
            $(".tri4").css("transform",
                "translateX(" + x / -14 + "px) rotate(-15deg)");
            $(".tri5").css("transform",
                "translateX(" + x / -16 + "px) rotate(-15deg)");
        });
    </script>
</head>
<!--首頁-->
<header id="header_index">
    <div class="container">
        <img class="icon" src="https://i.postimg.cc/tRtHNc0k/comeindus.png" /><img class="marginbottom mountain" src="https://awiclass.monoame.com/img/margin/m_index.svg" />
        <!--圓圈-->
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <!--流星-->
    </div>
    <div class="explore at_top">EXPLORE</div>
</header>
<!--關於-->
<section id="section_about">
    <div class="container">
        <!--第一行-標題-->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <img class="tri1" src="https://awiclass.monoame.com/img/webpic/w_tri1.svg" />
                <h2 class="r1text">WE CAN HELP</h2>
            </div>
        </div>
        <!--第二行-標題跟兩個三角形-->
        <div class="row">
            <div class="col-sm-4"><img class="tri2" src="https://awiclass.monoame.com/img/webpic/w_tri2.svg" /></div>
            <div class="col-sm-8">
                <img class="tri3" src="https://awiclass.monoame.com/img/webpic/w_tri3.svg" />
                <h3 class="r2text">想知道什麼國家科系最夯?</h3>
                <h3 class="r2text">想知道什麼國家預算最多?</h3>
            </div>
        </div>
        <!--第三行-標題-->
        <div class="row">
            <div class="col-sm-8">
                <h2 class="r3text">台灣 新加坡 中國</h2>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--第三行-按鈕跟兩個三角形-->
        <div class="row">
            <div class="col-sm-4 btn-area"><a class="btn btn-lg btn-default" href="#section_works">點我查詢</a><img class="tri4" src="https://awiclass.monoame.com/img/webpic/w_tri4.svg" /></div>
            <div class="col-sm-4"><img class="tri5" src="https://awiclass.monoame.com/img/webpic/w_tri5.svg" /></div>
        </div>
    </div>
    <div id="cross"></div><img class="cat" id="cat" src="https://awiclass.monoame.com/catpic/cat_left.png" /><img class="marginbottom" src="https://awiclass.monoame.com/img/margin/m_about.svg" />
</section>
<!--國家-->
<section id="section_country">
    <div class="container" `>
        <div class="row">
            <div class="col-sm-12">
                <h1>Country</h1>
            </div>
            <div class="col-sm-4">
                <img class="icon_country scale" src="https://i.postimg.cc/W11NTfSS/taiwan.png" />
                <h3>Taiwan</h3>
            </div>
            <div class="col-sm-4">
                <img class="icon_country scale" src="https://i.postimg.cc/NjpmwqNp/singapore.png" />
                <h3>Singapore</h3>
            </div>
            <div class="col-sm-4">
                <img class="icon_country scale" src="https://i.postimg.cc/5jc4xx7C/china.png" />
                <h3>China</h3>
            </div>
        </div>
    </div>
</section>
<!--最新消息-->
<section id="section_new">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @*<h1>New</h1><a style='visibility:@ViewData["admin"]' class="btn btn-lg btn-default addbtn" href="News/News/NewNews">+ 新增</a>*@
                <h1>New</h1><a class="btn btn-lg btn-default addbtn" href="News/News/NewNews">+ 新增</a>
            </div>
            <div class="newbox">
                <ul class="newstyle">
                    <li class="style"><a class="textnew" herf="">2020-12-01   版本更新 最新版本為2.0</a></li>
                    <li class="style"><a class="textnew" herf="">2020-12-02   數據新增 新加玻國家預算2020新增</a></li>
                    <li class="style"><a class="textnew" herf="">2020-12-03 數據新增 新加玻國家預算2020新增</a></li>
                    <li class="style"><a class="textnew" herf="">2020-12-04 數據新增 新加玻國家預算2020新增</a></li>
                    <li class="style"><a class="textnew" herf="">2020-12-04 數據新增 新加玻國家預算2020新增</a></li>
                </ul><a class="textmore" herf="/News/News/ShowNews">more</a>
            </div>
        </div><img class="marginbottom mountain" src="https://awiclass.monoame.com/img/margin/m_works.svg" />
    </div>
</section>
<!--意見回饋-->
<section id="section_feedback">
    <!--三站貓--><img class="cat" id="cat_grey" src="https://i.postimg.cc/Wb8X6GzK/cat-blue-cat.png" /><img class="cat" id="cat_yellow" src="https://i.postimg.cc/Hs31c7gW/cat-gery-cat.png" /><img class="cat" id="cat_pink" src="https://i.postimg.cc/0y33DYHv/cat-yellow-cat.png" />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!--信件容器 限制最大寬度-->
                <div class="mails">
                    <!--信封-->
                    <div class="mailcover"><img src="https://awiclass.monoame.com/img/webpic/w_mail_cover.svg" /></div>
                    <!--信紙-->
                    <form action="/FeedBack/FeedBack/NewFeedBack" method="post">
                        <h5>Dear ComeIndus.</h5>
                        <label>Type</label>
                        <select id="FDoption" name="FeedbackTypeNo">
                        </select>
                        <script>

                            $.ajax({
                                type: "GET",
                                url: "/FeedBack/FeedBack/NewFeedBack",
                                data: '{}',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                async: true,
                                success: function (data) {
                                    for (i = 0; i < data.length; i++) {
                                        $("#FDoption").append("<option value='" + data[i].feedbackTypeNo + "'>" + data[i].feedbackTypeName + "</option>");
                                    }
                                },
                                failure: function (errMsg) {
                                    // error handle;
                                }
                            });

                            var anchor = document.getElementById('@ViewData["feedback-anchor"]' != '' ? '@ViewData["feedback-anchor"]' : 'section_feedback');
                            anchor.scrollIntoView(true);

                        </script>
                        <!--
                        <select name="FeedbackTypeNo">
                            <option value="FD1">System Bug</option>
                            <option value="FD2">User FeedBack</option>
                        </select>-->
                        <label>Title</label>
                        <input type="text" name="Title" placeholder="請輸入標題" />
                        <label>Feedback</label>
                        <textarea id="Content" name="Content" placeholder="使用心得" rows="8"></textarea>
                        <input class="btn" type="submit" value="送出" />

                    </form>
                    <span style="font-size:40px">@ViewData["feedback-result"]</span>


                </div>
            </div>
            <div class="col-sm-6">
                <h2>FEEDBACK</h2><br />
                <p>If you have any question about us,<br>Don`t hestitate to contact us !</p>
            </div>
            <div class="feedback"></div>
            <div class="col-sm-4 btn-area">
                <a class="btn btn-lg btn-default" href="/FeedBack/FeedBack/ShowFeedBack">查看意見回饋</a>
            </div>
        </div>
    </div>
    </div>
</section>
