@model AccountModels
@{
    ViewData["Title"] = "ComeIndus - 更換密碼";
}
<html>
<head>
    <link href="~/css/AccountStyle.css" rel="stylesheet" />
    <script src="~/js/jqAccountUnit.js"></script>
</head>
<body>
    <br><br><br>
    <div class="form">
        <form id="ResetForm" name="ResetForm" action="/Account/ChangePassword" method="POST" onsubmit="return false;">
            <p class="update">Reset your password</p>
            <label>Your Account:@Model.Account</label>
            <br>
            <input type="hidden" id="Account" name="Account" value="@Model.Account">
            <br>
            <div class="fogroup">
                <input type="password" class="required" id="Password" name="Password" placeholder="New Password*">
            </div>
            <br>
            <div class="fogroup">
                <input type="password" class="required" id="PasswordCheck" name="PasswordCheck" placeholder="repeat Password*">
            </div>
            <br><br>
            <div class='nextbutton'>
                <button type='submit' id="ResetPwd" class="next">Reset</button>
            </div>
        </form>
        <br>
        @if (Model != null && Model.ok == false)
        {
            <p>@Model.ResultMessage</p>
        }
    </div>
</body>
</html>