@model AccountModels
<html>
<head>
    <link href="~/css/register_and_login.css" rel="stylesheet" />
    <script src="~/js/register_and_login.js"></script>
</head>
<body>
    <br><br><br>
    <div class="form">

        <form id="sign" action="/Account/ChangePassword" method="POST">

            <p class='update'>Reset your password</p>

            <label>Your Account:@Model.Account</label>
            <br>
            <input type="hidden" id="Account" name="Account" value="@Model.Account">
            <br>
            <div class="fogroup">

                <input type="password" class='required'
                       id="Password" name="Password" placeholder="New Password*">

            </div>
            <br>
            <div class="fogroup">

                <input type="password" class='required'
                       id="PasswordCheck" name="PasswordCheck" placeholder="repeat Password*">

            </div>
            <br><br>
            <div class='nextbutton'>
                <button type='submit'  href="/Account/ChangePassword" class="next">reset</button>
            </div>
        </form>
        <br>
        @if (Model != null && Model.ok == false)
        {
            <p>@Model.ResultMessage</p>
        }
    </div> 
</body>
</html>