@model AccountModels
<html>
    <head>
    </head>
    <body>
        <form id="sign" action="/Account/ChangePassword" method="POST">
            <label>會員帳號:@Model.Account</label>
            <input type="hidden" id="Account" name="Account" value="@Model.Account">
            <br><br>
            <label>新 密 碼:</label>
            <input type="Password" id="Password" name="Password">
            <br><br>
            <label>確認密碼:</label>
            <input type="Password" id="PasswordCheck" name="PasswordCheck">
            <br><br>
            <input type="submit" value="修改密碼">
        </form>
        <br>
        @if (Model != null && Model.ok == false)
        {
            <p>@Model.ResultMessage</p>
        }
    </body>
</html>