@model Verify
<html>
<head>
    <link href="~/css/register_and_login.css" rel="stylesheet" />
    <script src="~/js/register_and_login.js"></script>
</head>
<body>
    @*驗證表單*@<br><br><br>
    <div class="form">
        <form id="SendForm" method="POST">

            <p class='update'>Reset your password</p>


            <p class='check'>***enter the email address you signed up with and we'll email you a reset link</p>
            <br>

            <div class="fogroup">

                <input type='email' class='required' id='Account' name='Account' placeholder='Enter your email*'>
            </div>
        </form>
        <br><br>
        <div class='nextbutton'>

            <button type="button" class="next" onclick="getPassword();">sent</button>

        </div>

        @* 是否要顯示錯誤訊息 *@
        @if (Model != null && Model.ok == false)
        {
            <br><p>@Model.ResultMessage</p>
        }
    </div>
    
</body>

</html>

<script>
    //再寄送一次驗證碼
    function getPassword() {
        // 取得 ID 屬性為 Send 的表單
        var form = document.forms['SendForm'];

        // 取得 elements 集合中 name 屬性為 Account 的值
        var Account = form.elements.Account.value;

        //Ajax
        $.ajax({
            url: '/Account/PasswordMailVerify',
            data: { "Account": Account},
            method: "POST",
            async: true,
            success: function (response) {
                toastr.clear();
                if (response) {
                    toastr.success("新密碼寄送成功");
                } else {
                    toastr.error("新密碼寄送失敗");
                }
            },
            error: function (xhr, status, error) {
                toastr.clear();
            }
        });
    }
</script>