@model Verify
@{
    ViewData["Title"] = "ComeIndus - 忘記密碼";
}
<html>
<head>
    <link href="~/css/AccountStyle.css" rel="stylesheet" />
    <script src="~/js/jqAccountUnit.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="~/js/jqTimeReciprocal-1.0.0.js"></script>
</head>
<body>
    @*驗證表單*@<br><br><br>
    <div class="form">
        <form id="SendForm" method="POST" onsubmit="getPassword(); return false;">
            <p class='update'>Reset your password</p>
            <p class='check'>***enter the email address you signed up with and we'll email you a reset link</p>
            <br>
            <div class="fogroup">
                <input type='email' class='required' id='Account' name='Account' placeholder='Enter your email*'>
            </div>
        </form>
        <br><br>
        <div class='nextbutton'>
            <button id="Sent" type="button" class="next" onclick="getPassword();" style="width:180px;">Sent</button>
        </div>

        @* 是否要顯示錯誤訊息 *@
        @if (Model != null && Model.ok == false)
        {
            <br><p>@Model.ResultMessage</p>
        }
    </div>
</body>
</html>

<script>
    //Ready
    $(document).ready(function () {
        //初始化
        jqTimeReciprocal.Init({
            //控制的按鈕
            objReciprocalBtn: "#Sent",

            //按鈕型態
            objBtnType: "Button"
        });

    });

    //再寄送一次驗證碼
    function getPassword() {
        // 取得 ID 屬性為 Send 的表單
        var form = document.forms['SendForm'];

        // 取得 elements 集合中 name 屬性為 Account 的值
        var Account = form.elements.Account.value;

        //帳號不得為空
        if (Account != "") {
            //開始倒數
            jqTimeReciprocal.DoWork();

            //Ajax
            $.ajax({
                url: '/Account/PasswordMailVerify',
                data: { "Account": Account },
                method: "POST",
                async: true,
                success: function (response) {
                    toastr.clear();
                    if (response) {
                        toastr.success("新密碼寄送成功");
                        //document.location.href="/Account/Login";
                    } else {
                        toastr.error("新密碼寄送失敗");
                    }
                },
                error: function (xhr, status, error) {
                    toastr.clear();
                }
            });
        } else {
            alert("帳號不得為空。");
        }
    }
</script>

