@model Verify
<html>
<head>
</head>
<body>
    @*驗證表單*@
    <form id="SendForm" method="POST">
        <label>Account:</label><br>
        <input type="text" id="Account" name="Account"><br><br>
    </form>
    <br>
    <button onclick="getPassword();">取得新密碼</button>
    <br>
    @* 是否要顯示錯誤訊息 *@
    @if (Model != null && Model.ok == false)
    {
        <br><p>@Model.ResultMessage</p>
    }
</body>
</html>

<script>
    //再寄送一次驗證碼
    function getPassword() {
        // 取得 ID 屬性為 Send 的表單
        var form = document.forms['SendForm'];

        // 取得 elements 集合中 name 屬性為 Account 的值
        var Account = form.elements.Account.value;

        //Ajax
        $.ajax({
            url: '/Account/PasswordMailVerify',
            data: { "Account": Account},
            method: "POST",
            async: true,
            success: function (response) {
                toastr.clear();
                if (response) {
                    toastr.success("新密碼寄送成功");
                } else {
                    toastr.error("新密碼寄送失敗");
                }
            },
            error: function (xhr, status, error) {
                toastr.clear();
            }
        });
    }
</script>