@model AccountModels
@{
    ViewData["Title"] = "ComeIndus - 登入";
}
<html>
<head>
    <link href="~/css/AccountStyle.css" rel="stylesheet" />
    <script src="~/js/jqAccountUnit.js"></script>
</head>
<body>
    <div class="forms" id='form'>
        <ul class="tab-group">
            <li class="tab "><a href="/Account/Register">Sign Up</a></li>
            <li class="tab active"><a href="/Account/Login">Sign In</a></li>
        </ul>

        <div class="tab-content">
            <div id="login">
                <form action="/Account/Login" method="POST" name='loginform' onclick="return false">
                    <!--Model是否為空，如果是第一次進入Login頁面可能會沒有model，因為Controller是走Get的Method-->
                    <div class="fogroup">
                        @if (Model != null)
                        {
                            <!--自動帶入帳號-->
                            <input type="email" class='required' id="Account" name="Account" value="@Model.Account" placeholder="Email Address*">
                        }
                        else
                        {
                            <input type="email" class='required' id="Account" name="Account" placeholder="Email Address*">
                        }
                    </div>
                    <br>
                    <div class="fogroup">
                        <input type="password" class='required' id="Password" name="Password" placeholder="Password*">
                    </div>
                    <br>
                    <button type="submit" class="button button-block" id="loginbtn" value="Login">Sign In</button>
                </form>
                <p class="forgot"><a href="/Account/ForgetPassword">Forgot Password?</a></p>
                @if (Model != null && Model.ok == false)
                {
                    <p>@Model.ResultMessage</p>
                }
            </div>
        </div>
    </div>
</body>
</html>





