@model Verify
@{
    ViewData["Title"] = "ComeIndus - 信箱驗證";
}
<html>
<head>
    <link href="~/css/AccountStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="~/js/jqTimeReciprocal-1.0.0.js"></script>
</head>
<body>
    @* 是否顯示驗證成功訊息 *@
    @if (Model != null && Model.Verified == true)
    {
<br><br><br>
                <div class="form">
                    <p class='update'>@Model.ResultMessage</p>
                    <br />

                    <div class='nextbutton'>

                        <button type="button" href="/Home/Index" class="next" onclick="location.href='/Home/Index'">回首頁</button>

                    </div>

                </div> }
                            else
                            {
                                //驗證表單
                                <br><br><br>
                                <div class="form">
                                    <form id="SendForm" action="/Account/MailVerify" onsubmit="return Verify();" method="POST">
                                        <p class='update'>Please check your email</p>
                                        <label>Your Account:@Model.Account</label>
                                        <input type="hidden" id="Account" name="Account" value="@Model.Account">
                                        <input type="hidden" id="Username" name="Username" value="@Model.Username">
                                        <div class="formcell">
                                            <div>
                                                <input type="button" onclick="Resend();" class="btn btn-danger" id="emialcore" value="Sent">
                                            </div>
                                            <div>
                                                <input type="text" class='required' id="VerificationCode" name="VerificationCode" placeholder="Verification Code...">
                                            </div>
                                        </div>
                                    </form>
                                    <br />
                                    @* 驗證 *@
                                    <button type="submit" onclick="Verify();" class="next">Verify</button>
                                </div>
                            }
    <br>

    @* 是否要顯示錯誤訊息 *@
    @if (Model != null && Model.ok == false)
    {
        <br><p>@Model.ResultMessage</p>
    }
</body>
</html>

<script>
    //Ready
    $(document).ready(function () {
        //初始化
        jqTimeReciprocal.Init({
            //控制的按鈕
            objReciprocalBtn: "#emialcore",
        });
    });

    //再寄送一次驗證碼
    function Resend() {
        //開始倒數
        jqTimeReciprocal.DoWork();

        // 取得 ID 屬性為 Send 的表單
        var form = document.forms['SendForm'];

        // 取得 elements 集合中 name 屬性為 Account 的值
        var Account = form.elements.Account.value;

        // 取得 elements 集合中 name 屬性為 UserName 的值
        var Username = form.elements.Username.value;

        //Ajax
        $.ajax({
            url: '/Account/RegisterMailVerify',
            data: { "Account": Account, "Username": Username },
            method: "POST",
            async: true,
            success: function (response) {
                toastr.clear();
                if (response) {
                    toastr.success("驗證碼寄送成功");
                } else {
                    toastr.error("驗證碼寄送失敗");
                }
            },
            error: function (xhr, status, error) {
                toastr.clear();
            }
        });
    }

    //送出驗證
    function Verify() {
        if ($("#VerificationCode").val() == "") {
            alert("驗證碼不得為空");
            return false;
        } else {
            var frm = document.getElementById('SendForm');
            //送出表單
            frm.submit();
            return true;
        }
    }
</script>
