@model Verify
<html>
<head>
    <link href="~/css/register_and_login.css" rel="stylesheet" />
    

    <script type="text/javascript">

        function timeout() {
            var time = 60;//定義60秒的倒計時

            //設定一個定時，一秒執行一次
            var mytime = setInterval(function () {
                subs();
            }, 1000)


            function subs() {
                if (time > 0) {
                    time--;
                    $('#emialcore').attr("value", "請" + time + "秒後再試");
                    $('#emialcore').attr("disabled", true);//按鍵不可用
                }
               else if (time == 0) {
                    clearInterval(mytime);
                    $('#emialcore').attr("value", "Sent again");
                    $('#emialcore').attr("disabled", false);//按鍵可用
                } else {
                    $('#emialcore').attr("disabled", true);//按鍵不可用
                }
            }
        }

            $(document).ready(function () {
               timeout();
            })
        



    </script>
</head>
<body>
    @* 是否顯示驗證成功訊息 *@
    @if (Model != null && Model.Verified == true)
    {
        <p>@Model.ResultMessage</p>
        <a href="/">回首頁</a>

    }
    else
    {
        //驗證表單
        <br><br><br>
        <div class="form">
            <form id="SendForm" action="/Account/MailVerify" method="POST">
                <p class='update'>Please check your email</p>
                <label>Your Account:@Model.Account</label>
                <input type="hidden" id="Account" name="Account" value="@Model.Account">
                <input type="hidden" id="Username" name="Username" value="@Model.Username">

                <div class="formcell">
                    <div>
                        <input type="button" onclick="Resend(); timeout();" class="btn btn-danger" id="emialcore" value="Sent">
             
                    </div>
                    <div>
                        <input type="text" class='required' id="VerificationCode" name="VerificationCode" placeholder="Verification Code...">
                    </div>
                </div>
            </form>

            <br/>
            <button type="submit" class="next">Verify</button>


        </div>

    }
    <br>

    @* 是否要顯示錯誤訊息 *@
    @if (Model != null && Model.ok == false)
    {
        <br><p>@Model.ResultMessage</p>

    } 
</body>
</html>

<script>
    //再寄送一次驗證碼
    function Resend() {
        // 取得 ID 屬性為 Send 的表單
        var form = document.forms['SendForm'];

        // 取得 elements 集合中 name 屬性為 Account 的值
        var Account = form.elements.Account.value;

        // 取得 elements 集合中 name 屬性為 UserName 的值
        var Username = form.elements.Username.value;

        //Ajax
        $.ajax({
            url: '/Account/RegisterMailVerify',
            data: { "Account": Account, "Username": Username },
            method: "POST",
            async: true,
            success: function (response) {
                toastr.clear();
                if (response) {
                    toastr.success("驗證碼寄送成功");
                } else {
                    toastr.error("驗證碼寄送失敗");
                }
            },
            error: function (xhr, status, error) {
                toastr.clear();
            }
        });
    }
</script>
