@model Member
@{
    ViewData["Title"] = "ComeIndus - 註冊會員";
}
<html>
<head>
    <link href="~/css/AccountStyle.css" rel="stylesheet" />
    <script src="~/js/jqAccountUnit.js"></script>
</head>
<body>
    <div class="forms" id='form'>

        <ul class="tab-group">
            <li class="tab active"><a href="/Account/Register">Sign Up</a></li>
            <li class="tab "><a href="/Account/Login">Sign In</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <form action="/Account/Register" method="POST" name="signupform" id='signupform'>
                    <!--真實姓名-->
                    <div class='fogroup'>
                        <input type='text' class='required' id='Actualname' name='Actualname' placeholder="Actualname">
                    </div>
                    <br>

                    <!--暱稱-->
                    <div class='fogroup'>
                        <input type='text' class='required' id='Username' name='Username' placeholder="Username*">
                    </div>
                    <br>

                    <!--帳號-->
                    <div class="fogroup">
                        <input type='email' class='required' id='Account' name='Account' placeholder='Email Address*' onblur="CheckAccount();">
                    </div>
                    <br>

                    <!--密碼-->
                    @*<div class="formcell">
                        <div>
                            <input type="password" class='required'
                                   id="Password" name="Password" placeholder="Password*">
                        </div>
                        <div>
                            <input type="password" class='required'
                                   id="PasswordCheck" name="PasswordCheck" placeholder="Repeat Password*">
                        </div>
                        <br>
                    </div>*@

                    <!--密碼-->
                    <div class="fogroup">
                        <input type='password' class='required' id='Password' name='Password' placeholder='Password*'>
                    </div>
                    <br>
                    
                    <!--再輸入一次密碼-->
                    <div class="fogroup">
                        <input type='password' class='required' id='PasswordCheck' name='PasswordCheck' placeholder='Repeat Password*'>
                    </div>
                    <br>

                    <!--性別-->
                    <div class="sex">
                        <select id=Gender class='required' name="Gender">
                            <option value="0" selected>Gender*</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="3">不願透漏</option>
                        </select>
                    </div>
                    <br>

                    <!--生日-->
                    <div class="fogroup">
                        <label for="birthday">Enter your birthday</label>

                        <input type="date" id="Birthday" name="Birthday">
                    </div>

                    <br>
                    <button type="submit" class="button button-block " id="getstart" onclick="return false" href="/Account/MailVerify"> Get Started</button>
                </form>
                @* 回應訊息 *@
                @if (Model != null && Model.ok == false)
                {
                    <p>@Model.ResultMessage</p>
                }
            </div>
        </div>
        <br>
    </div>
</body>
</html>

<script>
    //再寄送一次驗證碼
    function CheckAccount() {
        //帳號物件
        var Account = $("#Account");

        //是否為空
        if (Account.val() != null && Account.val() != "" && AccountCheck()) {
            //Ajax
            $.ajax({
                url: '/Account/DuplicateAccountCheck',
                data: { "Account": Account.val() },
                method: "POST",
                async: true,
                success: function (response) {
                    //錯誤訊息移除
                    $(".emailtip").remove();

                    //是否該帳號已存在
                    if (response) {
                        //錯誤訊息
                        var errMsg = "<span class='emailtip'><font color=#6FCCC1 ; font size=2>*該帳號已存在</font></span>";

                        //顯示錯誤訊息
                        Account.parent().append(errMsg);
                    } 
                },
                error: function (xhr, status, error) {
                    toastr.clear();
                }
            });
        }
    }
</script>