@using iWebSite_ComeIndus.Areas.Content.Models

<h2>新增科系(學群)</h2>
<form action="/Content/UnivDepartment/InsertUnivDepartment" method="POST">
    <lable>科系/學群名稱：</lable>
    <input name="DeptName"><br><br>
    <label>科系/學群敘述</label>
    <textarea name="DeptDescription"></textarea>
    <input type="submit" value="送出">
</form>
<span style="font-size:40px">@ViewData["UniDept-result"]</span>
