<style>
    header {
        position: relative;
        text-align: center;
        height: 100%;
        background-color: white;
    }

        header .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

            header .container .box {
                height: 100px;
            }

            header .container .textbox {
                width: 100%;
                height: 180px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

                header .container .textbox .rect {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    padding-right: 20px;
                    border: 2px solid white;
                }

                    header .container .textbox .rect img {
                        width: 115%;
                        height: 100%;
                    }

            header .container .text {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

                header .container .text .h {
                    padding: 0px 55px 20px;
                }

    .qc1 img {
        width: 80%;
        height: 80%;
    }

    nav.navbar {
        transition: 0.5s;
    }

        nav.navbar a {
            transition: 0.5s;
        }

        nav.navbar.at_top {
            background-color: transparent;
        }

            nav.navbar.at_top a, nav.navbar.at_top a:visited {
                color: white;
            }

    footer#footer {
        background-color: #3BB0A2;
        text-align: center;
    }

        footer#footer .text {
            padding: 25px 0px;
        }

    h1 {
        font-size: 50px;
        color: #1D3255;
    }
</style>




<header id="about_me">
    <div class="container">
        <div class="box"></div>
        <h1>團隊成員</h1><br />
        <div class="textbox">
            <div class="rect"><img src="https://i.postimg.cc/QM6dGBvT/image.png" /></div>
            <div class="rect"><img src="https://i.postimg.cc/pTXRs2TL/image.png" /></div>
            <div class="rect"><img src="https://i.postimg.cc/PJ5JvWZK/image.png" /></div>
        </div>
        <div class="text">
            <div class="h">
                <h4>吳東翰</h4>
            </div>
            <div class="h">
                <h4>林美惠</h4>
            </div>
            <div class="h">
                <h4>宋佳軒</h4>
            </div>
        </div>
        <div class="textbox">
            <div class="rect"><img src="https://i.postimg.cc/8cLG5sXw/image.png" /></div>
            <div class="rect"><img src="https://i.postimg.cc/qMNc94Kg/image.png" /></div>
            <div class="rect"><img src="https://i.postimg.cc/50Cd76J1/image.png" /></div>
            <div class="rect"><img src="https://i.postimg.cc/vTmqc1mF/7.png" /></div>
        </div>
        <div class="text">
            <div class="h">
                <h4>林欣儀</h4>
            </div>
            <div class="h">
                <h4>李玟婷</h4>
            </div>
            <div class="h">
                <h4>林承翰</h4>
            </div>
            <div class="h">
                <h4>夏淮柔</h4>
            </div>
        </div>
    </div>
</header>
<!--首頁-->
<header id="about_me">
    <div class="container">
        <div class="box"></div>
        <h1 class="hightlight">常見問題</h1><br />
        <div class="qc1"><img src="https://i.postimg.cc/rFcs4LGz/1.png" /></div><br />
        <div class="qc1"><img src="https://i.postimg.cc/Pxncyrf2/1.png" /></div><br />
        <div class="qc1"><img src="https://i.postimg.cc/B6GZdKBF/2.png" /></div><br /><br />
    </div>
</header>

