@model ErrorViewModel
@{
    ViewData["Title"] = "ComeIndus - Error";
}
 <style>
     header {
         position: relative;
         text-align: center;
         height: 100%;
         background-color:white;
     }

     header {
         position: relative;
         text-align: center;
         height: 100%;
     }

     header .container {
         display: flex;
         flex-direction: column;
         padding-bottom: 100px;
     }

     header .container .textbox {
         height: 100px;
     }

     header .container ol {
         text-align: left;
         background-color: #1D3255;
         color: white;
         padding-top: 20px;
         padding-bottom: 20px;
         border: 5px solid #3BB0A2;
         padding-top: 20px;
         padding-bottom: 20px;
     }
     header .container ol li {
         font-size:20px;

     }
     h1 {
         font-size: 150px;
         color: #1D3255;
     }
</style>




 <header>
     <div class="container">
         <div class="textbox"> </div>
         <h1>404</h1>
         <h3 class="text-danger">An error occurred while processing your request.</h3>
         <h3 class="text-danger">發生錯誤!!!!!!!!</h3>
         @if (Model.ShowRequestId)
         {<p>
           <strong>Request ID:</strong> <code>@Model.RequestId</code>
           </p>
         }
         <h4>您會看到此網頁基於幾下幾種原因</h4>
         <ol>
             <li>系統發生不知名錯誤。</li>
             <li>系統操作不當，請從正常管道進入。</li>
             <li>系統正在維護。</li>
         </ol>
         <h4>若是持續發生此問題，請<a href="/#section_feedback">聯繫我們</a></h4>
     </div>
</header>

