@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>發生錯誤</h3>
<p>
    您會看到此網頁基於幾下幾種原因
    <br>
    1. 系統發生不知名錯誤。<br>
    2. 系統操作不當，請從正常管道進入。<br>
    3. 系統正在維護。<br>
    <br>
</p>
<p>
    若是持續發生此問題，請<a href=https://comindus.azurewebsites.net/feedback >聯繫我們</a>
</p>
